<!DOCTYPE html>
<html lang="fr">
<head>
   <link rel="stylesheet" href="/media/css/style.css" />
   <title>{% block title %}Mon Annonce{% endblock %}</title>
</head>
<body>
<header>Annonces</header>
    <nav>
       {% block nav %}
       <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/contact/">Contact</a></li>
       </ul>
       {% endblock %}
   </nav>
   <section id="thumbnail">
   	{% load static %}
   	<img src="{% static 'annonces/img/annonce.png' %}" alt="thumbnail
   	">
   </section>
   <section id="content">
       {% block content %}{% endblock %}
   </section>
<footer>&copy; Mes annonces</footer>
</body>
</html>