{% extends "annonces/base.html" %}
{% load static %}
{% block title %}WebAnnonce - le meilleur site d'annonce !{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'annonces/css/accueil.css' %}">
{% endblock %}
{% block search %}

{% endblock %}
{% block content %}
    <div class="container" id="accueil">
        <div class="text">
            <h1>WebAnnonce</h1>
            <h2>Le meilleur site d'annonce pour vos ventes et vos achats<br></h2>
        </div>
    </div>
{% endblock %}
